body p{
    background-color: lightblue;
}

h1 {
    font-size: large;
    color: darkblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-style: dashed;
    background-color: #9966cc;
    ;
}

#Introduction{
    color: forestgreen;
}

h1:hover {
    background-color: yellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: dotted;
}

.part2header {
    background-color: cornflowerblue;
}

h3 {
    background-color: mistyrose;
    border-style: solid;
}

h4 {
    background-color: darkseagreen;
}
#WhoWasHe {
    color: firebrick;
}

#Myth {
    color: darkblue;
}

#Enjoy {
    color: saddlebrown;
}

#image {
    width: 500px;
    height: 600px;
}
